body {
    color: $default-color;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}



.menu{
	margin: 0 auto;
	&__list{
		display: flex;
	}
	&__item{
		margin-left: 25px;
	}
	&__link{
		padding: 15px 20px;
		color: #fff;
        display: inline-block;
		transition: all .3s;
		&:hover{
			background-color: $darking-hov;
		}
	}
}

.social{
	&__list{
		display: flex;
	}
	&__item{
		margin-left: 15px;
	}
	&__link{
		display: inline-block;
	}
}

.form{
	width: 100%;
	padding: 20px;
	line-height: 1.6;
	&__input,
	&__textarea{
		display: block;
		width: 100%;
		padding: 10px 12px;
		border: 2px solid $accent-color;
		background-color: #fdfbf3;
		margin-bottom: 10px;
		color: $default-color;
		&::placeholder{
			opacity: 0.5;
		}
	}
	&__textarea{
		height: 200px;
		resize: none;
	}
	&__button{
		border: none;
		background-color: $accent-color;
		padding: 10px 30px;
		color: $default-color;
		cursor: pointer;
		transition: all .3s;
		&:hover{
			background-color: $darking-hov;
			color: #fff;
		}
	}
}

.circles-text{
	@extend %title-1;
}
