@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 48px 0;
    &__inner {
       display: flex;
       justify-content: space-between; 
       align-items: center;
    }
}

// Menu
.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        margin-left: 35px;
    }
    &__list-link {
        @extend %roboto-400;
        color: $title;
        padding: 0 2px 1px;
        text-transform: uppercase;
        transition: color .3s;
        &:hover {
            color: $accent;
            font-weight: 700;
            border-bottom: 1px solid $accent;
        }
    }
    &__list-link.menu__list-link--active {
        color: $accent;
        font-weight: 700;
        border-bottom: 1px solid $accent;
    }
}

.user-nav {
    display: flex;
    &__link {
        position: relative;
    }
    &__link + .user-nav__link {
        margin-left: 25px;
    }
    &__num {
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -9px;
        right: -14px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 20px;
    }
}

.top-slider {
    background-color: $background;
    background-image: url('../../img/top-slier-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 65px 0 40px;
    &__container {
        width: 1560px;
        max-width: 100%;

    }
    &__item {
        display: flex !important;
        justify-content: space-between;
    }
    &__content {
        padding-left: 180px;
        padding-top: 125px;
    }
    &__title {
        width: 670px;
        max-width: 100%;
        @extend %roboto-700;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        margin-bottom: 35px;
    }
    &__text {
        width: 470px;
        max-width: 100%;
        margin-bottom: 55px;
    }
    &__link {
        @extend %button;
        padding: 15px 44px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -70px;
        li {
            margin: 0 5px;
            line-height: 0;
            button {
                position: relative;
                padding: 0;
                font-size: 0;
                line-height: 0;
                background-color: transparent;
                width: 30px;
                height: 30px;
                border: 1px solid transparent;
                border-radius: 50%;
                cursor: pointer;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 6px;
                    height: 6px;
                    background-color: $default;
                }
            }
            &.slick-active {
                button {
                    border-color: $accent;
                    &::before {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.categories-info {
    padding: 120px 0;
    background-color: #fff;
    background-image: url('../../img/decore/categories-left.svg'), url('../../img/decore/categories-right.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    position: relative;
    &::before,
    &::after {
        content: '';
        position: absolute;
    }
    &::before {
        width: 120px;
        height: 121px;
        background-image: url('../../img/decore/info-before-bg.svg');
        top: -40px;
        left: -40px;
    }
    &::after {
        width: 65px;
        height: 52px;
        background-image: url('../../img/decore/info-after-bg.svg');
        bottom: -24px;
        right: -24px;
    }
    &__item {
        background-color: #fff;
        box-shadow: 20px 0 60px rgba(202, 202, 202, 0.35);
        padding: 56px 30px;
        width: 370px;
        position: relative;
        z-index: 1;
    }
    &__item-title {
        color: $title;
        @extend %roboto-400;
        font-size: 22px;
        margin: 35px 0 10px;
    }
}

.categories {
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        margin-bottom: 55px;
    }
    &__items {
        display: grid;
        height: 635px;
        max-height: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 35px;
        padding-left: 40px;
        &:nth-of-type(1) {
            grid-row: span 2;
            .categories__item-subtitle {
                color: #5800e4;
            }
        }
        &:nth-of-type(2) {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;
            .categories__item-subtitle {
                color: #fe3e57;
            }
        }
        &:nth-of-type(3) {
            .categories__item-subtitle {
                color: #ffb534;
            }
        }
        &:nth-of-type(4) {
            .categories__item-subtitle {
                color: #34c3ff;
            }
        }
    }
    &__item-subtitle {
        margin-bottom: 5px;
    }
    &__item-title {
        @extend %roboto-500;
        font-size: 22px;
        color: $title;
        margin-bottom: 12px;
    }
    &__item-link {
        color: $title;
        @extend %roboto-400;
        line-height: 1;
        text-transform: uppercase;
        transition: color .3s;
        &:hover {
            color: $accent;
        }
    }
}

.fashion-video {
    background-color: $background;
    background-image: url('../../img/decore/video-pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 125px 0;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__popup {
        margin-right: 60px;
        width: 537px;
        max-width: 100%;
        height: 482px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    &__content {
        width: 570px;
        max-width: 100%;
    }
    &__subtitle {
        color: $accent;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__title {
        text-align-last: left;
        margin-bottom: 38px;
    }
    &__text {
        margin-bottom: 55px;
    }
    &__link {
        @extend %button;
    }
}

.product {
    background-color: #fff;
    padding: 105px 0 120px;
    text-align: center;
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        margin-bottom: 60px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px 30px;
    }
    &__link {
        color: $title;
        @extend %roboto-400;
        display: inline-block;
        padding: 14px 46px;
        border: 1px solid $accent;
        margin-top: 60px;
    }
}

.product-item {
    width: 370px;
    max-width: 100%;
    text-align: center;
    &__img-box {
        background-color: #fff;
        position: relative;
        height: 370px;
        overflow: hidden;
        border: 1px solid #ececec;
        margin-bottom: 25px;
    }
    &__images {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    &__link-box {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0 5px 30px rgba(152, 152, 152, 0.2);
        display: inline-block;
        width: 212px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translateY(300%);
        transition: transform .3s;
    }
    &__link {
        display: inherit;
        path {
            fill: $title;
            transition: fill .3s;
        }
    }
    &__link:hover {
        path {
            fill: $accent;
        }
    }
    &__link.product-item__link--line::before,
    &__link.product-item__link--line::after {
        content: '';
        position: absolute;
        background-color: #ececec;
        width: 1px;
        height: 30px;
        top: 10px;
    }
    &__link.product-item__link--line::before {
        left: 70px;
    }
    &__link.product-item__link--line::after {
        right: 70px;
    }
    &__title {
        color: $title;
        @extend %roboto-400;
        font-size: 22px;
        margin-bottom: 20px;
    }
    &__prices {
        display: flex;
        justify-content: center;
    }
    &__new-price,
    &__old-price {
        padding: 0 12px;
    }
    &__new-price {
        @extend %roboto-500;
        color: $title;
    }
    &__old-price {
        @extend %roboto-400;
        color: #ccccce;
        text-decoration: line-through;
    }
    &:hover {
        .product-item__link-box {
            transform: translateY(0);
        }
    }
    &.product-item--sale {
        .product-item__img-box::before {
            content: 'SALE';
            @extend %button;
            position: absolute;
            top: 25px;
            left: 25px;
            padding: 7px 11px;
            line-height: 1;
        }
    }
}

.star {
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 6px;
}


.footer {
    background-color: $background;
}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
    display: flex;
    &__item.footer-top__item-contact {
        width: 250px;
        margin-right: 50px;
    }
    &__item.footer-top__item-nav {
        width: 170px;
        margin-right: 30px;
    }
    &__item.footer-top__item-form {
        width: 470px;
        max-width: 100%;
    }
    &__logo {
        margin-bottom: 33px;
        display: block;
    }
    &__address,
    &__email,
    &__phone {
        display: block;
        margin-bottom: 10px;
    }
    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    &__social-item + .footer-top__social-item {
        margin-left: 18px;
    }
    &__social-link {
        display: block;
        line-height: 0;
        path {
            fill: $default;
            transition: fill .3s;
        }
        &:hover {
            path {
                fill: $accent;
            }
        }
    }
    &__title {
        @extend %roboto-500;
        font-size: 22px;
        line-height: 1;
        color: $title;
        margin-bottom: 46px;
    }
    &__link {
        display: block;
        margin-bottom: 10px;
    }
    &__text {
        margin-bottom: 30px;
    }
    &__form-input {
        border: none;
        width: 320px;
        max-width: 100%;
        padding: 12px 16px;
        background-color: white;
        box-shadow: 0 7px 20px rgba(192, 192, 192, 0.3);
        &::placeholder {
            color: $default;
        }
    }
    &__form-btn {
        @extend %button;
        padding: 7px 28px;
        line-height: 36px;
        box-shadow: 0 7px 20px rgba(255, 17, 48, 0.3);
    }
}

.footer-bottom {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 34px;
    &__accept {
        display: flex;
    }
    &__accept-img {
        display: inline-block;
        margin-left: 25px;
    }

}



@import 'media';