@media (max-width: 1240px) {
    .top-slider {
        height: 830px;
        background-size: 100% 690px;
        &__title {
            margin-bottom: 60px;
        }
    }
    .slider {
        &__item {
            display: block;
        }
        &__image {
            margin-right: 0;
            margin: 0 auto;
        }
        &__content {
            padding: 40px 0;
        }
        &__title {
            margin-top: 24px;
        }
        & .slick-prev {
            left: 0;
        }
    }
    .blog {
        padding: 40px 0 70px;
        &__inner {
            justify-content: center;
        }
    }
}

@media (max-width: 960px) {
    .top-slider {
        background-size: cover;
        height: 900px;
        &__title {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
    .slider {
        &__content {
            padding: 0;
        }
        &__title {
            margin-top: 30px;
            color: #fff;
        }
        &__text {
            color: #fff;
        }
    }
    .blog {
        padding: 0 0 40px;
        &__item {
            margin-bottom: 40px;
        }
    }
    .footer {
        &__inner {
            flex-wrap: wrap;
        }
        &__text {
            width: 100%;
            margin-bottom: 48px;
            flex-grow: 1;
        }
    }
}


@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .logo {
        width: 160px;
        height: auto;
    }
    .menu {
        ul.menu__list { 
            padding: 70px 0 40px;
            display: block;
            background-color: #3E1B38;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-200%);
            transition: transform .3s;
            z-index: 5;
        }
        ul.menu__list.menu__list--active {
            transform: translateY(0);
        }
        &__item + .menu__item {
            margin-left: 0;
        }
        &__link {
            padding: 15px 0;
            display: block;
        }
        &__btn {
            display: block;
        }
    }
}

@media (max-width: 640px) {
    .top-slider {
        height: 840px;
    }
}

@media (max-width: 480px) {
    .top-slider {
        height: 740px;
    }
    .slider {
        &__title {
            margin-top: 24px;
            margin-bottom: 20px;
            &::before {
                top: 5px;
            }
        }
    }
    .blog {
        &__item-title {
            &::before {
                top: 5px;
            }
        }
    }
    .footer {
        &__category-list {
            width: 100%;
            margin-bottom: 48px;
        }
        &__tag-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 48px;
        }
        &__social {
            display: flex;
            align-items: center;
        }
        &__social-title {
            margin-bottom: 0;
            margin-right: 32px;
        }
    }
}