$default: #0C2134;
$post-text: #3A3E58;
$link-black: #2D3D6E;

%title {
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
}

%item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}

@media (max-width: 768px) {
    
}

@media (max-width: 640px) {
    %title {
        font-size: 38px;
        line-height: 42px;
    }
}

@media (max-width: 480px) {
    %title {
        font-size: 32px;
        line-height: 36px;
    }
    %item-title {
        font-size: 16px;
    }

}

