@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    background-color: #3E1B38;
    padding: 12px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.top-slider {
    background-color: #fff;
    min-height: 600px;
    height: 640px;
    background-image: url('../../img/top-slider-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 496px;
    background-position: top center;
    
    
    &__title {
        margin: 70px 0 80px;
        @extend %title;
        color: #FFFFFF;
    }
}

.slider {
    &__item {
        display: flex;
    }
    &__image {
        border-radius: 8px;
        margin-right: 45px;
        width: 792px;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    &__content {
        padding: 178px 0 15px;
    }
    &__title {
        font-family: 'Poppins', sans-serif;
        @extend %item-title;
        color: #000;
        margin: 80px 0 18px;
        padding-left: 25px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 10px;
            width: 13px;
            top: 14px;
            left: 0;
            background-image: url('../../img/icons/rectangle.svg');
        }
    }
    &__text {
        padding-left: 4px;
    }
    & .slick-prev,
    & .slick-next {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        top: 180px;
        z-index: 10;
        cursor: pointer;
        & {
            circle {
                fill: #F8F9FC;
                transition: fill .3s;
            }
        }
        &:hover {
            circle {
                fill: #DEE1F8;
            }
        }
    }
    & .slick-prev {
        right: 80px;
    }
    & .slick-next {
        right: 0;
    }
}

.blog {
    padding: 180px 0 64px;
    background-color: #fff;
    &__title {
        @extend %title;
        margin-bottom: 40px;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    &__item {
        width: 384px;
        position: relative;
        margin-bottom: 56px;
    }
    &__item-tag-link {
        padding: 6px 10px;
        background-color: #25AAD3;
        border-radius: 4px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    &__item-tag {
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        color: #fff;
    }
    &__item-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 6px;
    }
    &__item-info {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

    }
    &__item-info-data,
    &__item-info-author {
        font-size: 12px;
        line-height: 13px;
        color: $post-text;
    }
    &__item-info-data-link {
        padding-right: 10px;
    }
    &__item-info-author-link {
        padding-left: 10px;
    }
    &__item-info-delimiter {
        display: block;
        height: 13px;
        width: 1px;
        background-color: rgba(58, 62, 88, 0.2);
    }
    &__item-title {
        @extend %item-title;
        margin-bottom: 20px;
        position: relative;
        padding-left: 20px;
        &::before {
            content: '';
            position: absolute;
            height: 10px;
            width: 13px;
            top: 10px;
            left: 0;
            background-image: url('../../img/icons/rectangle.svg');
        }
    }
    &__item-text {
        line-height: 1.7;
        color: $post-text;
        margin-bottom: 20px;
    }
    &__item-link {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        line-height: 24px;
        color: $link-black;
        padding-right: 23px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 3px;
            right: 0;
            width: 15px;
            height: 16px;
            background-image: url('../../img/icons/link-arrow.svg');
            background-repeat: no-repeat;
        }
    }
}

.footer {
    background-color: #1B263E;
    font-family: 'Poppins', sans-serif;
    &__inner {
        padding: 64px 0;
        display: flex;
        justify-content: space-between;
    }
    &__text {
        width: 290px;
        & p {
            font-weight: 300;
            font-size: 12px;
            line-height: 1.5;
            color: #fff;
        }
    }
    &__category-list {
        width: 140px;
    }
    &__category-item {
        margin-bottom: 20px;
    }
    &__category-link {
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
        line-height: 132%;
        color: rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
    }
    &__tag-list {
        width: 140px;
    }
    &__tag-item {
        margin-bottom: 15px;
    }
    &__tag-link {
        display: inline-block;
        font-weight: 500;
        font-size: 12px;
        line-height: 132%;
        color: rgba(255, 255, 255, 0.9);
        text-transform: uppercase;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
    }
    &__social-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 132%;
        letter-spacing: 0.01em;
        color: #fff;
        margin-bottom: 20px;
    }
    &__social-list {
        display: flex;
    }
    &__social-item + .footer__social-item {
        margin-left: 8px;
    }
    &__social-link {
        display: inline-block;
    }
}


@import 'media';