html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

/*
font-family: 'Montserrat', sans-serif;
*/

body {
    /* min-height: 100vh; */
    color: #1E1C1C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 1.4;
}

.container {
    width: 1160px;
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    color: #0077AA;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FAF7F7;
    text-align: center;
    border: none;
    background-color: #0077AA;
    box-shadow: 0px 4px 7px rgba(0, 72, 103, 0.5);
    border-radius: 30px;
    padding: 15px 47px 16px;
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s, transform .3s;
}

.btn:hover {
    background-color: #00648F;
    box-shadow: 0px 4px 7px rgba(0, 53, 77, 0.5);
    
}

.btn:active {
    transform: scale(95%);
}

/* Header */

/* Menu */
.menu {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
}

.menu__list {
    display: flex;
}

.menu__item + .menu__item {
    margin-left: 20px;
}

.menu__link {
    color: #1E1C1C;
    transition: color .3s;
}

.menu__link:hover {
    color: #0077AA;
}
/* End Mnu */

/* Header */
.header {
    background-color: #FAF7F7;
    background-image: url('../../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 25px;
}

/* Header Top */
.header__top {
    background-color: rgba(0, 162, 232, 0.1);
}

.header__top-inner {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.header__top-btn {
    margin-left: 30px;
}
/* End Header Top */

/* Header Content */
.header__content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 145px);
    min-height: 750px;
}

.header__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    width: 465px;
    margin-bottom: 22px;
}

.header__title span {
    color: #0077AA;
}

.header__description {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.header__description span {
    font-weight: 700;
}

.header__buttons {
    margin-bottom: 145px;
}

.header__content-btn.see {
    padding: 15px 76px 16px;
    margin-right: 32px;
}

.header__content-btn.cv {
    padding: 15px 62px 16px;
    background-color: #00621B;
    box-shadow: 0px 4px 7px rgba(25, 134, 55, 0.25);
}

.header__content-btn.cv:hover {
    background-color: #115A25;
    box-shadow: 0px 4px 7px rgba(21, 112, 46, 0.25);
}
/* End Header Content */
/* End Header */

/* About */
.about {
    padding: 80px 0 116px;
    background-color: #FAF7F7;
}

.about__inner {
    position: relative;
}

.about__inner-bg {
    position: absolute;
    top: -144px;
    left: 125px;
}

.about__inner-box {
    display: flex;
    position: relative;
}

/* About Iage */
.about__image-box {
    margin: 0 80px;
    position: relative;
}

.about__image-box::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 216px;
    height: 216px;
    background-color: #00621B;
    z-index: 1;
}

.about__image-box::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 216px;
    height: 216px;
    background-color: #00621B;
    z-index: 1;
}

.about__image {
    position: relative;
    z-index: 2;
}
/* End About Iage */

/* About Content */
.about__content {
    width: 50%;
}

.about__title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about__text {
    width: 530px;
    max-width: 100%;
    margin-bottom: 36px;
}

.about__text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.about__btn {
    padding: 15px 88px 16px;
}
/* End About Content */
/* End About */

/* Services */
.services {
    padding: 70px 0 80px;
    background-color: #FAF7F7;
}

.services__title {
    color: #00621B;
    margin: 0 0 60px 10px;
    position: relative;
    padding-bottom: 10px;
    z-index: 2;
}

.services__title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 672px;
    height: 2px;
    background-color: #00621B;
}

.services__list-box {
    position: relative;
}

.services__inner-bg {
    position: absolute;
    top: -147px;
    left: -60px;
}

.services__list {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
}

.services__item {
    background-color: #fff;
    box-shadow: 0px 0px 8px 3px rgba(89, 200, 120, 0.1);
    border-radius: 30px;
    padding: 40px 0 80px;
    width: 355px;
    position: relative;
}

.services__item::after {
    content: '';
    position: absolute;
    width: 43px;
    height: 43px;
    top: 39px;
    right: 15px;
}

.services__item:nth-of-type(1)::after {
    background-image: url('../../img/service-icon-1.svg');
}
.services__item:nth-of-type(2)::after {
    background-image: url('../../img/service-icon-2.svg');
}
.services__item:nth-of-type(3)::after {
    background-image: url('../../img/service-icon-3.svg');
}

.services__item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 10px 0 10px 5px;
    background-color: rgba(0, 98, 27, 0.2);
}

ul.services__item-list {
    margin: 0 10px;
    padding-left: 24px;
}

.services__item-variant {
    list-style-type: disc;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
}
/* End Services */

/* Works */
.works {
    padding: 64px 0 140px;
    background-color: #FAF7F7;
}

.works__title {
    margin: 0 0 60px 10px;
    position: relative;
    padding-bottom: 10px;
}

.works__title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 38px;
    width: 315px;
    height: 2px;
    background-color: #0077AA;
}

.works__list-box {
    position: relative;
}

.works__inner-bg {
    position: absolute;
    top: 196px;
    left: 48px;
}

.works__item {
    background-color: #fff;
    box-shadow: 0px 0px 8px 3px rgba(89, 200, 120, 0.1);
    border-radius: 30px;
    padding: 38px;
    width: 455px;
    max-width: 100%;
    text-align: center;
}

.works__item-img {
    box-shadow: 0px 0px 4px rgba(0, 119, 170, 0.25);
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 25px;
}

.works__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
}

.works__btn {
    padding: 15px 62px 16px;
}

/* Works Slider */
.works__list {
    margin: 0 60px;
}

.works__list .slick-track {
    display: flex;
    column-gap: 36px;
}

.works__slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
    margin-top: 40px;
}

.works__slider-dots button {
    background: none;
    border: none;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 119, 170, 0.5);
    border-radius: 50%;
}

.works__slider-dots .slick-active button {
    background-color: #0077AA;
}
/* End Works Slider */

.works__btn {
    font-size: 20px;
    line-height: 24px;
	margin: 40px auto 0;
	display: block;
	text-align: center;
	width: 200px;
    position: relative;
}
/* End Works */

/* Footer */
.footer {
    padding: 66px 0 120px;
    background-color: #1E1C1C;
}

.footer__left-title,
.footer__right-title {
    color: #FAF7F7;
}

.footer__inner {
    display: flex;
}

.footer__left {
    width: 50%;
    padding-left: 10px;
    margin-right: 120px;
}

.footer__left-title {
    margin-bottom: 17px;
}

.footer__left-text {
    font-size: 20px;
    line-height: 24px;
    color: #FAF7F7;
    margin-bottom: 58px;
}

/* Form */
.form__input,
.form__textarea {
    display: block;
    border: 1px solid #CBCBCB;
    background-color: #EDEDED;
    padding: 20px;
    width: 480px;
    max-width: 100%;
    margin-bottom: 40px;
}

.form__textarea {
    min-height: 200px;
	resize: none;
    margin-bottom: 60px;
}

.form__input::placeholder,
.form__textarea::placeholder {
    font-size: 18px;
    line-height: 22px;
    color: #B5B5B5
}
/* End Form */

.footer__right-title {
    margin-bottom: 44px;
}

/* Socials */
.socials__list {
    display: flex;
    margin-bottom: 44px;
}

.socials__item + .socials__item {
    margin-left: 25px;
}

.socials__link path{
    transition: fill .3s;
}

.socials__link:hover path {
    fill: #0077AA;
}
/* End Socials */

.email__lable {
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    color: #FAF7F7;
    margin-right: 25px;
}

.email__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FAF7F7;
    transition: color .3s;
}

.email__link:hover {
    color: #0077AA;
}